@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,700&display=swap');

/*-----RESET-----*/

*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family:'Poppins', sans-serif;
    background-color:white;
}

/*-----HEADER-----*/

header {
    text-align: center;
    background-color: white
    padding: 10px;
}
header img{
    max-width: 15%;
}
header section:nth-of-type(1) img {
    width: 50px;
    height: auto;
    float: right;
    margin-top: -66px;
    margin-right: 65px;
}
header section:nth-of-type(2) img {
    width: 50px;
    height: auto;
    float: right;
    margin-top: -66px;
}
nav {
    background-color:#413F41;
    padding: 10px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
li {
    margin: 0 10px;
}
a {
    text-decoration: none;
    color: #413F41;
    font-weight: bold;
}
a:hover {
    color: #ff0000;
}
header nav li{
    margin-right: 60px;
    display:inline    
}
header nav li:last-child{
    margin-right:0% ;
}
header nav a{
    font-family: 'Poppins', sans-serif;
    color: white;
}

/*--MENU DESPLEGABLE (PRODUCTOS)--*/

.dropdown {
    position: relative;
    display: inline-block;
}  
.dropdown a.dropbtn{
    display: inline-block;
    padding: 6px 12px;
    background-color: #f9f9f9;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #A5A3A5;
    width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
} 
.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
} 
.dropdown:hover .dropdown-content {
    display: block;
}
li.dropdown.productos .dropbtn{
    width: auto;
    display: flex;
}
li.dropdown.productos .dropdown-content{
    width: auto;
    left: 0%;
}
li.dropdown .dropbtn:hover {
    color:cadetblue; 
}
/*--MENU DESPLEGABLE (ATENCION AL CLIENTE)--*/

li.dropdown.Atencion .dropbtn{
    width: auto;
    display: flex;
}
li.dropdown.Atencion .dropdown-content{
    width: auto;
    left: 0%;
}
li.dropdown.Atencion .dropbtn:hover {
    color:cadetblue; 
}

/*--MENU DESPLEGABLE (QUIENES SOMOS)--*/

li.dropdown.QuienesSomos .dropbtn {
    width: auto;
    display: inline-block;
} 
li.dropdown.QuienesSomos .dropdown-content {
    width: auto;
    left: 0;
}
li.dropdown.QuienesSomos .dropbtn:hover {
    color: cadetblue; 
}
/*-----MAIN-----*/

main section div{
    width: 100%;
    overflow: hidden;
}
main section div img{
    width: 100%;
    height: auto;
    display: block;
}
.position{
    position: fixed;
    bottom: 100px;
    right: 50px;
}
.position img{
    width: 60px;
}


/*-----FOOTER-----*/

footer div a img{
    width: 3%;
    height: 3%;
}

#contacto {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
}  
.container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 50px; /*--ESPACIO ENTRE ELEMENTOS (maps y formulario)--*/
}  
.google-maps {
    flex: 1; 
    max-width: 600px; /*--ancho de maps--*/
    height: 450px;
    align-self: flex-start; 
}  
.form-container {
    flex: 1; 
    max-width: 400px; 
    align-self: flex-start; 
}
.contact-form {
    width: 30%; 
    margin: 0 auto;
    margin-top: -215px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
} 
.contact-form label {
    margin-bottom: 10px;
}  
.contact-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}  
.contact-form input[type="submit"] {
    width: auto;
    padding: 20px 40px;
}
footer section{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*--FORMULARIO DE CONTACTO (INDEX, PAGINA PRINCIPAL)--*/

.form-register{
    width: 400px;
    background-color: #A5A3A5;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family:'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #A5A3A5;
    font-family:'calibri';
    font-size: 18px;
    box-sizing: border-box;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-register a{
    color: white;
    text-decoration: none;
}
.form-register a:hover{
    color: white;
    text-decoration: underline
}
.form-register .botons{
    width: 100%;
    background-color: #413F41;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    font-size: 16px;
}

