/*-----HEADER-----*/

header {
    nav {
        background-color: rgb(184, 179, 179);
    }

    img {
        width: 350px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}