@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0%;
    padding: 0%;
}

/*--BODY/HR/SEPARADORES--*/

body section p {
    text-align: center;
    color: #f56606;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/*--BODY/H1/H2/PARRAFOS--*/

main h1 {
    color: #050505;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

main h2 {
    color: #050505;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/*MAIN/IMG*/

body main {
    max-width: 450px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
}

main img {
    border-radius: 20px;
    box-shadow: 0 6px 12px black;
    filter: brightness(100%);
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}