
//COLORES

//HEADER//

$backround-nav: rgb(184, 179, 179);

//MENU DESPLEGABLE//
$background-item: #333;

//MENU DESPLEGABLE-HOVER//
$background-hover-menu: #646668;
$background-hover-text: #000;

//NAV-LINK//
$background-color: #f56606;
$color: #fff;

//NAVBAR-SCROLLED//
$color: #f8f9fa;

//BODY-SEPARADORES-HR//
$background-hr: #f56606;

//BODY/H1/H2/PARRAFOS//
//H1-H2//
$background-tittle: #050505;

//BODY-PARRAFOS INSTRUCTIVOS//
$background-button: #f56606;
$background-text: #fff;

//MAIN/PDF´S//
$background-button: #f56606;

//FOOTER//
//FOOTER-FORMULARIO DE CONTACTO//
$background-button-primario: #f56606;
$background-text: #fff;
$background-hover-: #333;

//FOOTER / BOTONES DE NAVEGACION//
$background-button: #f56606;
$background-text: #333;
$background-hover: #aaa7a7;

